<% content_for :header do %>
    <h1>Project: <%= @project.name %></h1>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<%= render :partial => 'memberships/memberships' %>

<%= render :partial => 'iterations/iterations' %>

<%= link_to 'Back', projects_path %>
